.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary-background-color;
  border-bottom: 1px solid $header-border-color;

  .container {
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      height: 60px;
    }

    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }

  .logo {
    @media screen and (max-width: 767px) {
      padding: 16px 0;
    }

    @media screen and (min-width: 768px) {
      padding: 25px 0;
    }
  }
}

.main-nav {
  display: flex;
  align-items: center;
  width: 100%;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    max-width: 450px;
  }
}

.header__btn {
  display: inline-flex;
  justify-self: flex-end;
  margin-left: auto;
  margin: 0;
  padding: 0;
  border: none;
  background-color: $transparent;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-cross {
  .header__btn & {
    display: none;
  }
  .header__btn.is-open & {
    display: block;
  }
}

.icon-menu {
  .header__btn.is-open & {
    display: none;
  }
}

.site-nav {
  display: flex;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    justify-self: flex-start;
    padding-left: 93px;
  }
}

.site-nav,
.contacts {
  @extend %list-noFlex;
  font-weight: 500;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:first-child) {
    margin-left: 30px;
  }
}

.contacts {
  margin: 0;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.site-nav__item {
  position: relative;

  &:not(:first-child) {
    margin-left: 50px;
  }

  & .current {
    color: $accent-color;
  }

  & .current::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: -33px;
    content: '';
    width: 100%;
    background-color: $accent-color;
    height: 4px;
    border-radius: 2px;
  }
}

.site-nav__link {
  @extend %link;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  align-self: flex-start;

  @media screen and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  color: $primary-text-color;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
  display: inline-block;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  &--envelope {
    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
    }
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &--smartphone {
    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @extend %link;
  margin: 0;

  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }

  &--pre {
    font-family: 'Roboto';
  }
}

.header {
  .main-nav {
    display: flex;

    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }
    align-items: center;
  }

  //   контроль версій меню
  &__mobile-menu {
    @media screen and (max-width: 767px) {
      display: inline-flex;
    }
    display: none;
  }
}

.header__button {
  display: inline-flex;

  justify-self: flex-end;

  padding: 0;
  margin-left: auto;

  fill: #000000;

  border: none;
  background-color: transparent;

  // @include transition-for-1(fill);

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  &--close {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.header__drop-down-menu {
  display: none;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;
    z-index: 6;

    overflow-y: scroll;

    padding: 48px 40px;

    width: 100%;
    min-height: 100vh;

    background-color: $primary-background-color;
  }
}
.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__drop-down-menu .navigation-list {
  @extend %list-noFlex;

  &__link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: $primary-text-color;

    // color: lightseagreen @include transition-for-1(color);

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__link--active {
    color: $accent-color;
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }

    &__item:last-child {
      margin-bottom: auto;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-left: 88px;

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      position: relative;
    }

    // &__link--active::after {
    //   content: '';

    //   position: absolute;
    //   left: 0;
    //   bottom: 0;

    //   display: block;
    //   width: 100%;
    //   height: 4px;

    //   background-color: $accent-color;
    //   border-radius: 2px;
    // }
  }
}

.header__drop-down-menu .navigation-contact-list {
  @extend %list-noFlex;
  margin-top: auto;
  margin-bottom: 64px;
  &__link {
    font-size: 34px;
    color: $accent-color;
  }

  &__link--smaller {
    font-size: 24px;
    line-height: 1.17;
    color: $secondary-text-color;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 767px) {
    &__item:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.header__drop-down-menu .text-social-list {
  display: flex;
  flex-wrap: wrap;

  @extend %list-noFlex;

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-color;
  }

  &__separator {
    display: inline-block;

    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;

    color: $secondary-text-color;
  }
}
