@mixin centeredFlex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin hover-delay($property) {
  transition: $property 250ms $timing-function;
}

@mixin two-hover-delay($first-property, $second-property) {
  transition: $first-property 250ms $timing-function, $second-property 250ms $timing-function;
}

@mixin for-pixel-ratio-2 {
  @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
    @content;
  }
}
