// Colors
// Common
$primary-text-color: #212121;
$secondary-text-color: #757575;

$white-text-color: #ffffff;
$accent-color: #2196f3;
$transparent: rgba(0, 0, 0, 0);

// Logo
$logo-header-color: #000000;
$logo-footer-color: #ffffff;
$logo-accent-color: #2196f3;

// Header
$header-border-color: #ececec;

// Hero
$hero-text-color: #ffffff;
$footer-text-color: #ffffff99;

// Background
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$accent-background-color: #2f303a;
$footer-background-color: #2f303a;

// Icons
$icon-primary-color: #afb1b8;
$icon-secondary-color: #ffffff;
$icon-footer-color: rgba(255, 255, 255, 0.1);

// Overlay
$activity-overlay-color: rgba(47, 48, 58, 0.8);
$portfolio-overlay-color: rgba(33, 150, 243, 0.9);

// Backdrop
$backdrop-color: rgba(0, 0, 0, 0.2);

// Placeholders
$placeholder-text-color: rgba(255, 255, 255, 0.6);
$placeholder-comment-color: rgba(117, 117, 117, 0.5);

// Timing
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Fonts
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

// Buttons
$main-btn-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
